<div class="container">

  <form ng-submit="$ctrl.submitSpell(newSpell)">
    <!--name-->
    <div class="form-group">
      <label for="">Name</label>
      <input type="text" class="form-control" placeholder="Fireball" ng-model="newSpell.name">
    </div>
    <!--casting time-->
    <div class="form-row">
      <div class="form-group col">
        <label for="">Casting Time</label>
        <input type="text" class="form-control" placeholder="1 action" ng-model="newSpell.castingTime">
      </div>
      <!--range-->
      <div class="form-group col">
        <label for="">Range</label>
        <input type="text" class="form-control" placeholder="150 feet" ng-model="newSpell.range">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label for="">Duration</label>
        <input type="text" class="form-control" placeholder="Instantaneous" ng-model="newSpell.duration">
      </div>
      <div class="form-group col">
        <div class="form-row">
          <div class="form-group col">
            <label for="">Components</label><br>
            <div class="form-check form-check-inline">
              <input type="checkbox" class="form-check-input" ng-model="newSpell.components.verbal">
              <label for="" class="form-check-label">Verbal</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="checkbox" class="form-check-input" ng-model="newSpell.components.semantic">
              <label for="" class="form-check-label">Semantic</label>
            </div>
            <div class="form-check form-check-inline col">
              <input type="checkbox" class="form-check-input" ng-model="newSpell.components.material">
              <label for="" class="form-check-label mr-3">Material</label>
              <input ng-disabled="!newSpell.components.material" type="text" class="form-control" placeholder="a tiny ball of bat guano and sulfer" ng-model="newSpell.materialComponents">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label for="">Level</label>
        <select name="" id="" class="form-control" ng-model="newSpell.level">
              <option value="Cantrip">Cantrip</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
      </div>
      <div class="form-group col">
        <label for="">School</label>
        <input type="text" class="form-control" placeholder="evocation" ng-model="newSpell.school">
      </div>
    </div>
    <div class="form-group">
      <label for="">Description</label>
      <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="A bright streak flashes..." ng-model="newSpell.description"></textarea>
    </div>
    <div class="form-check"><input type="checkbox" class="form-check-input" ng-model="higherLevels"><label for="" class="form-check-label">Higher Levels</label></div>
    <div class="form-group" ng-if="higherLevels"><textarea name="" id="" cols="30" rows="10" placeholder="When you cast this spell using a spell slot..." class="form-control" ng-model="newSpell.higherLevels"></textarea></div>
    <button class="btn" type="submit">Submit Spell</button>
  </form>

  <pre>{{newSpell|json}}</pre>
</div>
